Repository icon-project/ibc-relay, pull requests merged in 2023-09, with the labels that each got.

#149 ci: add pr label check and auto pr labeler
  .github/labeler.yml
  .github/workflows/auto-pr-labeler.yaml
  .github/workflows/check-pr-label.yaml
Labels: cicd

#166 chore: remove retry on getChannels for initializeChannelCache
  relayer/chains/wasm/query.go
  relayer/chains/wasm/utils.go
Labels: enhancement

#170 chore: remove flush for release
  relayer/processor/path_processor.go
Labels: bug, iBriz

#178 fix: no error if recover signature fails
  relayer/chains/icon/utils.go
Labels: bug, iBriz

#180 fix: query consensus state no retry
  relayer/chains/icon/icon_chain_processor.go
  relayer/chains/wasm/query.go
  relayer/chains/wasm/tx.go
  relayer/chains/wasm/wasm_chain_processor.go
  relayer/processor/message_processor.go
  relayer/processor/path_end_runtime.go
Labels: bug
