Repository icon-project/ibc-relay, pull requests merged in 2023-11, with the labels that each got.

#179 feat: release
  .github/workflows/release.yml
  .goreleaser.yaml
  relayer/chains/icon/icon_chain_processor.go
  relayer/chains/icon/utils.go
  relayer/chains/wasm/query.go
  relayer/chains/wasm/tx.go
  relayer/chains/wasm/wasm_chain_processor.go
  relayer/processor/message_processor.go
  relayer/processor/path_end_runtime.go
Labels: cicd, release

#186 fix: do not cast bigint to int 64
  relayer/chains/icon/query.go
Labels: bug

#196 fix: sync of icon chain processor
  relayer/chains/icon/icon_chain_processor.go
  relayer/chains/icon/provider.go
  relayer/chains/icon/query.go
  relayer/chains/wasm/wasm_chain_processor.go
Labels: bug

#195 fix: nil pointer expection issue for wasm header
  relayer/chains/icon/icon_chain_processor.go
  relayer/chains/wasm/wasm_chain_processor.go
  relayer/processor/message_processor.go
Labels: bug

#194 fix: injective integration
  go.mod
  go.sum
  relayer/chains/wasm/codec.go
  relayer/chains/wasm/provider.go
  relayer/chains/wasm/wasm_chain_processor.go
Labels: bug, Feature

#193 feat: update respective wasm client based on message sent from icon
  relayer/chains/icon/provider.go
  relayer/chains/penumbra/provider.go
  relayer/chains/wasm/provider.go
  relayer/processor/path_end_runtime.go
  relayer/processor/types_test.go
  relayer/provider/provider.go
Labels: bug
