Repository icon-project/ibc-relay, pull requests merged in 2024-01, with the labels that each got.

#201 release: v1.1.1
  relayer/chains/icon/icon_chain_processor.go
  relayer/chains/icon/types/types.go
Labels: release

#202 docs: mainnet relay setup
  README.md
  docs/mainnet_relaying_icon.md
Labels: documentation, iBriz

#206 fix: allow update of a specific height from the latest height stored in contract
  cmd/root.go
  cmd/tx.go
  relayer/chains/wasm/tx.go
  relayer/client.go
Labels: iBriz, feature

#209 fix: cli command to claim fees
  cmd/tx.go
  relayer/chains/cosmos/tx.go
  relayer/chains/icon/fees.go
  relayer/chains/icon/methods.go
  relayer/chains/icon/tx.go
  relayer/chains/penumbra/tx.go
  relayer/chains/wasm/consts.go
  relayer/chains/wasm/fees.go
  relayer/chains/wasm/tx.go
  relayer/provider/provider.go
Labels: enhancement, iBriz
